{
  "extends": [
    "eslint:recommended",
    "plugin:cypress/recommended"
  ],
  "plugins": [
    "cypress"
  ],
  "env": {
    "cypress/globals": true
  },
  "rules": {
    "semi": "error",
    "comma-dangle": ["error", "only-multiline"]
  }
}
